.txtnama{
	background-color:lightgreen;
	padding:5px;
	margin:5px;
	border:1px solid darkgreen;
	border-radius:5px;
}

.tombol:hover{
	background-color:#AEF6F1;
	color:black;
}
.formtable{
	border:1px solid lightgray;
	background-color:lightyellow;
}
td{
	border:1px solid lightgray;
	padding:5px;
	font-family:verdana;

}